<%-include('header')-%>
<body style="background-color: #FFFFFF;">
<%-include('dashboard')-%>

<div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff4c68" fill-opacity="1" d="M0,32L40,32C80,32,160,32,240,48C320,64,400,96,480,96C560,96,640,64,720,42.7C800,21,880,11,960,42.7C1040,75,1120,149,1200,165.3C1280,181,1360,139,1400,117.3L1440,96L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
</div>
<div class="container">
    <div class="row align-items-center justify-content-around">
        <div class="col-md-5 text-right banner-section-part">
            <img alt="Image" src="https://usaupload.com/themes/spirit/assets/frontend/img/homepage-banner-1.png">
        </div>
        <div class="col-md-6 col-12 text-section-part">
            <h1 style="color: #ff4c68;">
                Upload, share and manage your files for free.
            </h1>
                 
        </div>

    </div>
</div>

<section class="bg--secondary text-center">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-12">
                <div class="switchable__text text-center">
                    <h2 style="color:#ff4c68">Store and manage all your files!</h2>
                    <p class="lead">
                        Upload multiple files at once and keep them forever on this site. If you're using FireFox or Chrome, you can simply drag &amp; drop your files to begin uploading.
                    </p>
                                            <hr class="short" style="position: static; display: inline-flex; border-color: #4a90e2; ; ">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg--secondary text-center">
    <div class="container">
        <div class="row justify-content-between align-items-center">

            <div class="col-md-6 col-12 text-section-part">
                <div class="switchable__text">
                    <h2 style="color:#ff4c68">Share your files with everyone!</h2>
                    <p class="lead">
                        We supply you with all the tools necessary to easily share your files. Use our pre-generated html code to link from your website or post directly to Facebook or Twitter.
                    </p>
                                            <hr class="short" style="position: static; display: inline-flex; border-color: #4a90e2; ; ">
                                        </div>
            </div>
            <div class="col-md-5 text-right banner-section-part">
                <img alt="Image" src="https://usaupload.com/themes/spirit/assets/frontend/img/homepage-banner-3.png">
            </div>
        </div>
    </div>
</section>

<section class="text-center bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="feature feature-1">
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h3 style="color:#ff4c68" >Fast and instant downloading!</h3>
                        <p class="lead"> Our premium members benefit from no waiting time and direct downloads for all of their files. Unlike other file hosts we don't limit the transfer speed of our downloads. </p>
                                                    <a href="/route/uploadfiles?user=<%=locals.user%>">Upload »</a>
                                                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature feature-1">
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h3 style="color:#ff4c68" >Safe and Secure</h3>
                        <p class="lead"> Safely store and backup all your essential files. From family photos &amp; videos to important documents, you can rely on us to store all your media securely and forever. </p>
                                                    <a href="/route/uploadfiles?user=<%=locals.user%>">Upload »</a>
                                                </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" > <img src="/assets/blob.svg">   Upload</button>
</section>

<%-include('footer')-%>